.container{
    position: fixed; /* 将元素固定在视口中 */
    bottom: 0; /* 使元素位于视口底部 */
    left: 0; /* 如果需要，可以设置左侧位置 */
    width: 100%; /* 让元素宽度铺满整个视口 */
    padding: 20px;     /* 可选：添加填充以增加可读性 */
    background-color: #363636; /* 背景颜色 */
    height: calc(100% - 65px); /* 让容器的高度为视口高度减去300px */

}

.List {
    color: rgb(255, 255, 255);
    background-color: #313131;
    height: 100%;
    width: 95%;
}

